php_value register_globals 0

<ifModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule .htaccess - [F]
    # Adding / to the end
    RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+) /$1/ [L,R=301]
    # Common rules
    RewriteRule ^index.php$ / [L,R=301]
    RewriteRule ^404/$ /404.php [L]
    RewriteRule ^logout/$ ?logout=true [L]
    # Specially for 'news' module
    RewriteRule ^(news)/$ ?module=$1 [L]
    RewriteRule ^(news)/add/$ ?module=$1:add [L]
    RewriteRule ^(news)/page-(\d+)/$ ?module=$1&page_id=$2 [L]
    RewriteRule ^(news)/(\d+)/$ ?module=$1:fullarticle&id=$2 [L]
    RewriteRule ^(news)/(\d+)/page-(\d+)/$ ?module=$1:fullarticle&id=$2&page_id=$3 [L]
    # 'pages' module
    RewriteRule ^(pages)/(.+)/$ ?module=$1:$2 [L]
    ErrorDocument 404 /404.php
</ifModule>

# <FilesMatch "\.(css)$">
#     Header set Cache-Control "must-revalidate"
# </FilesMatch>

<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>