<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Всё о именах</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
</head>

<body>
    <input type="checkbox" id="pageOpen">
    <label for="pageOpen" class="find"></label>
    <div class="findpage">
        <div>
            <input type="text" name="searchform" id="searchformmob" placeholder="Введите имя или букву">
            <input type="button" id="searchbutmob" value=" ">
        </div>
    </div>
    <header>
        <div class="wrap flex">
            <a href="index.html" class="logo">Всё о именах</a>
            <input type="text" name="searchform" id="searchform">
        </div>
    </header>
    <main class="wrap flex flexc">
        <div class="letters">
            <a style="border-bottom: 2px solid #222; color: #222" href="letter.html">А</a>
            <a href="">Б</a>
            <a href="">В</a>
            <a href="">Г</a>
            <a href="">Д</a>
            <a href="">Е</a>
            <a href="">Ж</a>
            <a href="">З</a>
            <a href="">И</a>
            <a href="">К</a>
            <a href="">Л</a>
            <a href="">М</a>
            <a href="">Н</a>
            <a href="">О</a>
            <a href="">П</a>
            <a href="">Р</a>
            <a href="">С</a>
            <a href="">Т</a>
            <a href="">У</a>
            <a href="">Ф</a>
            <a href="">Х</a>
            <a href="">Ц</a>
            <a href="">Ч</a>
            <a href="">Ш</a>
            <a href="">Э</a>
            <a href="">Ю</a>
            <a href="">Я</a>
        </div>
        <div class="flex flexr">
            <aside id="left">
                <input type="checkbox" id="openBut">
                <label for="openBut" class="toOpen"></label>
                <ul class="menu">
                    <li>
                        <a href="">Мужские имена</a>
                    </li>
                    <li>
                        <a href="">Женские имена</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <a href="">Русские имена</a>
                    </li>
                    <li>
                        <a href="">Английские имена</a>
                    </li>
                    <li>
                        <a href="">Еврейские имена</a>
                    </li>
                    <li>
                        <a href="">Казахские имена</a>
                    </li>
                    <li>
                        <a href="countrynames.html" class="angleRight">Ещё</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <a href="">Православные имена</a>
                    </li>
                    <li>
                        <a href="">Мусульманские имена</a>
                    </li>
                </ul>
            </aside>
            <div id="right">
                <h1>Мужское имя: Андрей</h1>
                <p class="split">Андрей, Андрейка, Андрюха, Андрюша, Андрюня, Андря, Анди, Дрю, Энди, Андра, Данд, Дрео.
                </p>
                <h3>Значение имени Андрей</h3>
                <p>Имя Андрей русское, православное, католическое, греческое. Имя Андрей в переводе с древнегреческого языка
                    (Андреас) означает «мужественный», «отважный». Также существует перевод «мужчина», «человек».</p>
                <p> У христиан наиболее почитаемый святой с именем Андрей – это апостол Андрей Первозванный. Это первый из учеников
                    Христа, брат апостола Петра. Он был распят в греческом городе Патры на кресте в виде буквы «Х». Этому
                    символу дали название «андреевский крест». Именно он изображен на флаге русского флота. В православной
                    традиции апостол Андрей считается покровителем Греции, России, Румынии, Украины и российского военно-морского
                    флота, а в католической – покровителем Шотландии, Бургундии и Сицилии.</p>
                <p> Употребляется также очень созвучное имя Андрею – Андриан, многие считают его одной из русифицированных форм
                    имени Андрей. На самом деле, имя Андриан – это один из вариантов произношения имени Адриан в России.
                </p>
                <p>Андрей всегда душа компании. Его способность быстро находить контакт с другими людьми помогает Андрею в жизни
                    неплохо устроиться. Со стороны можно подумать, что все ему дается очень легко, но на самом деле, Андрей
                    прикладывает очень много усилий, чтобы добиться результата. И не потому, что он ленив или неудачлив,
                    а потому что сам не верит в то, что результаты своих трудов это и есть последствия приложенных им усилий.
                    Некоторое сомнение в своей собственной значимости, заниженная самооценка – именно поэтому Андрей прячется
                    в компаниях, чтобы не чувствовать себя неловко наедине с самим собой.</p>
                <p> Андрей наделен богатым воображением. Но, как часто бывает, его внутренний мир очень сложен. Андрей любит
                    компанию и любит уединение, он умелец поострить, шутить, разыгрывать, но и посидеть-подумать в одиночестве
                    не откажется. То он полон идей, готов со всеми делиться, то сосредоточен и занят решением какой-то задачи.
                    Одной из любимых его игрушек является конструктор.</p>
                <p> Андреи достаточно расчетливые мужчины. Пустить пыль в глаза, представить все в выгодном для него свете –
                    часто именно эта способность и помогает Андрею добиваться чего-то значительного в своей жизни. Андрей
                    не особо выделяется в рабочем коллективе, но почему-то начальник всегда помнит о таком сотруднике.</p>
                <p> Андреи достаточно эгоистичны, не особо прислушиваются к мнению старших и советам окружающих. Они непредсказуемы,
                    высокого мнения о себе и любят обращать на себя внимание. И в этом случае он использует все возможные
                    средства - ревность, шантаж, скандалы. </p>
                <p>При этом Андреи искренне веселые и жизнерадостные люди. Рутина и быт – не их конёк. Андрей любит свою семью,
                    но ценности общения для него на ступеньку выше, чем семейные ценности. Андрей способен в бескорыстной
                    помощи чужому человеку, но, бывает, что и в ущерб своей собственной семье. Обид, нанесенных ему, Андрей
                    не прощает.</p>
                <p> Многие «зимние» Андреи предпочитают выбирать себе творческие профессии (режиссер, актер, художник, певец).
                    Из «осенних» обладателей этого имени получаются хорошие бизнесмены.
                </p>
                <h4 class="sort">Другие имена на букву А</h4>
                <p class="sa">
                    <a href="">Азарий</a>
                    <a href="">Аким</a>
                    <a href="">Александр</a>
                    <a href="">Алексей</a>
                    <a href="">Арон</a>
                    <a href="">Арсений</a>
                    <a href="">Артем</a>
                    <a href="">Артемий</a>
                    <a href="">Артур</a>
                    <a href="">Архип</a>
                    <a href="">Аскольд</a>
                    <a href="">Афанасий</a>
                </p>
            </div>
        </div>
    </main>
    <footer class="wrap">Nepein Andrey, 127 group</footer>
</body>

</html>